.Message {
  width: 75%;
  max-width: 300px;
  box-shadow: none;
}

.peer1Message {
  align-self: end;
  background-color: $blue-dark;
  color: $white-ter;
}

.peer2Message {
  background-color: $grey-lightest;
  color: $black-ter;
}